@{
    ViewData["Title"] = "Post creating";
}

<form action="/posts/create" method="post">
    @Html.AntiForgeryToken()
    <label for="title">Title</label>
    <input id="title" name="Title" />
    <label for="content">Content</label>
    <input id="content" name="Content" />
    <button>Отправить</button>
</form>
