@model List<Post>
@{
    ViewData["Title"] = "Posts";
    var pageNavigation = (PageNavigationViewModel)ViewBag.PageNavigation;
}

@foreach (var post in Model)
{
<div>
    <a asp-controller="Post" asp-action="Details" asp-route-id="@post.Id">@post.Title</a>
    <p>@post.CreatedAt.ToString("dd:MM:yy HH:mm")</p>
</div>
}

@await Component.InvokeAsync("PageNavigation", pageNavigation)