@model List<Post>
@{
    ViewData["Title"] = "Posts";
    var pageNavigation = (PageNavigationViewModel)ViewBag.PageNavigation;
}

<ul>
    @foreach (var post in Model)
    {
        <li>
            <p>@post.Title</p>
            <p>@post.CreatedAt.ToString("dd:MM:yy HH:mm")</p>
        </li>
    }
</ul>

@await Component.InvokeAsync("PageNavigation", pageNavigation)